:root>* {
    --md-primary-fg-color: #008F00;
    --md-primary-fg-color--light: #a9ff6f;
    --md-primary-fg-color--dark: #005f00;

    --md-text-font-family: Avenir,Helvetica,Arial,sans-serif
}

.center {
    text-align: center;
}

.md-header__source {
    display: none;
}


article ul.partners {
	list-style: none !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-wrap: wrap !important;
}

article ul.partners li {
	display: block;
    margin: 1rem 0 !important;
}

article ul.partners li a {
	display: block;
}

article ul.partners li span {
	display: none;
}

article ul.partners li a img {
	display: block;
	margin: auto 1rem;
	max-width: 7rem;
	height: 3rem;
	object-fit: contain;
}

article ul.partners li a img.bigger {
	height: 5rem;
}

article .license {
    text-align: center;
    margin: 5rem auto;
}
